@model HomeIndexVM

@{
    ViewBag.Title = "Restaurant ++";
}

<h1>All restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}
<div>
    <a asp-action="Create" asp-controller="Home">Create</a>
</div>
